.custom-scroll {
    width: 100%; /* Asegura que el ion-scroll tenga un ancho definido */
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    white-space: nowrap; /* Evita el envoltorio de los elementos en la lista */
    display: block; /* Asegura que el ion-scroll se comporte como un bloque */
  }
  
  .horizontal-item {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin-right: 10px; /* Espacio entre los elementos */
    margin-top: 10px;
  }
  
  .thumbnail {
    width: 150px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
  }
  
  .thumbnail-img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
  }