/* Ajustes CSS para la lista horizontal */
.custom-list {
  display: flex;
  flex-direction: row; /* Cambia la dirección de la lista a horizontal */
  overflow-x: auto; /* Permite desplazamiento horizontal si los elementos no caben en el contenedor */
  -webkit-overflow-scrolling: touch; /* Mejora el desempeño de desplazamiento en dispositivos móviles */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilos adicionales para los elementos de la lista */
.horizontal-item {
  flex: 0 0 auto; /* Evita que los elementos se redimensionen automáticamente */
  margin-right: 10px; /* Añade un espacio entre los elementos */
  min-width: 200px; /* Define un ancho mínimo para cada elemento */
}

.thumbnail {
  width: 200px; /* Ajusta el tamaño de la miniatura */
  height: auto; /* Mantiene la proporción de la imagen */
}

.thumbnail-img {
  width: 100%; /* Ajusta la anchura de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos para la barra de precio */
.price-bar {
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  color: white; /* Color del texto */
  padding: 5px; /* Espaciado interior */
  position: absolute; /* Posición absoluta para superponerla sobre la miniatura */
  bottom: 0; /* Anclarla en la parte inferior */
  width: 200px; /* Ocupa todo el ancho disponible */
  height: 40px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
