.login-form {
    padding: 20px;
  }
  
  .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-label {
    font-size: 16px;
  }
  
  .login-button {
    margin-top: 20px;
  }

  .google-icon {
    margin-right: 8px; /* Ajusta el espacio entre el icono y el texto según sea necesario */
  }
  
  .google-text {
    margin-left: 8px; /* Ajusta el espacio entre el icono y el texto según sea necesario */
  }
  
  