<ion-header>
  <ion-toolbar>
    <ion-title>
      Payment Method
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="metodoPagoForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Card Number</ion-label>
        <ion-input formControlName="cardNumber" type="tel" placeholder="1234-5678-9012-3456" pattern="\d{4}-\d{4}-\d{4}-\d{4}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Expiration Date (MM/YY)</ion-label>
        <ion-input formControlName="expirationDate" type="text" placeholder="MM/YY" pattern="^(0[1-9]|1[0-2])\/?([0-9]{2})$" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CVV</ion-label>
        <ion-input formControlName="cvv" type="tel" placeholder="123" minlength="3" maxlength="4" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="!metodoPagoForm.valid">Send</ion-button>
    <ion-button (click)="dismissModal()" expand="block" color="danger">Close</ion-button>
  </form>
</ion-content>
